.grid {
  display: grid;
}

.flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-32 {
  gap: 32px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  margin-bottom: 8px;
}

.text-2xl {
  font: var(--heading-one);
}

.text-xl {
  font: var(--heading-two);
}

.text-lg {
  font: var(--heading-three);
}

.text-sm {
  font: var(--text-sm);
}
